
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

nav.navbar.navbar-static-top {
    height: 50px;
}

.main-header .sidebar-toggle {
    padding: 13px 15px!important;
}

.item-title {
	font-size: 18px; 
	font-style:italic;
}

.item-total {
	font-size: 18px; 
}

.col-md-6.total-price {
    text-align: right;
}